@model ASP_Final_System.Models.Clients

@{
    ViewBag.Title = "Modificar Cliente";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2>Modificar Cliente</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Digite los cambios al producto.
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.LabelFor(model => model.RNC, "RNC del Cliente:", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.RNC, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RNC, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.LabelFor(model => model.Name, "Nombre del Cliente:", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.LabelFor(model => model.Phone, "Número del Cliente:", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.LabelFor(model => model.Email, "Email del Cliente:", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.LabelFor(model => model.Category, "Categoría del Cliente:", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="form-actions">
                                <a href="\Clients/Index" class="btn btn-outline-secondary">Regresar</a> |
                                <button type="submit" value="Save" class="btn btn-outline-info">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
