@model ASP_Final_System.Models.Products

@{
    ViewBag.Title = "Eliminar Producto";
}

<h2>Eliminar Producto</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Desea continuar? Esta acción es permanente.
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(model => model.Name, "Nombre del Producto:", htmlAttributes: new { @class = "control-label" })
                                <input class="form-control" type="text" placeholder="@Html.DisplayFor(model => model.Name)" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(model => model.Price, "Precio:", htmlAttributes: new { @class = "control-label" })
                                <input class="form-control" type="text" placeholder="@Html.DisplayFor(model => model.Price)" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions">
                                <a href="\Products/Index" class="btn btn-outline-secondary">Regresar</a> |
                                <button type="submit" value="Delete" class="btn btn-outline-danger">Eliminar</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>